.d-flex{
    display: flex;
}
.label {
    font-weight: 500;
    color: #00575c;
    text-align: left;
    padding-right: 20px;
}
.recruiter-card{
    border: 1px solid #f1f1f1;
    text-align: left;
}

.recruiter-card:hover{
    border: 1px solid #80ecf1;
}


.title {
    cursor: pointer;
}
.title:hover {
    color:#9a00c9;
    cursor: pointer;
}